.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0rem 2.5rem 0rem;
}

.containerLista {
  box-sizing: border-box;
  border: 2px solid #371158;
  border-radius: 15px;
  width: 30%;
  height: 40rem;
  overflow: auto;
  scrollbar-width: none;
}

.containerLista::-webkit-scrollbar{
  display: none;
}

ul {
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;
}

li {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  list-style: none;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #371158;
  border-radius: 15px;
}

span {
  font-size: 25px;
  margin-bottom: 10px;
}

p {
  margin: 0;
}

.containerBotoes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerBotoes button {
  cursor: pointer;
  margin: 0 5px;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
}

.botaoEditar {
  color: white;
  background-color: #371158;
}

.botaoEditar:hover{
  background-color: #4f1681;
}

.botaoDeletar {
  color: white;
  background-color: rgb(138, 4, 4);
}

.botaoDeletar:hover {
  background-color: rgb(177, 5, 5);
}

.botaoCadastrar {
  margin-top: 2rem;
}

.botaoCadastrar button {
  cursor: pointer;
  padding: 0.5rem;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  background-color: #371158;
  border-style: none;
}

.botaoCadastrar button:hover {
  background-color: #4f1681;
  box-shadow: #4f1681;
}
