.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0rem 2.5rem 0rem;
}

.containerLista {
  box-sizing: border-box;
  border: 2px solid #371158;
  border-radius: 15px;
  width: 25%;
  height: 40rem;
  overflow: auto;
  scrollbar-width: none;
}

.containerLista::-webkit-scrollbar{
  display: none;
}

ul {
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;
}

li {
  box-sizing: border-box;
  list-style: none;
  margin: 1rem;
}

span {
  font-size: 25px;
  margin-bottom: 10px;
}

.conteudo {
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

p {
  border: 0.5px solid black;
  border-radius: 10px;
  margin: 0;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.containerBotoes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.containerBotoes button {
  cursor: pointer;
  margin: 0 5px;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
}

.botaoEditar {
  color: white;
  background-color: #371158;
}

.botaoEditar:hover{
  background-color: #4f1681;
}

.botaoDeletar {
  color: white;
  background-color: rgb(138, 4, 4);
}

.botaoDeletar:hover {
  background-color: rgb(177, 5, 5);
}

.botaoCadastrar {
  margin-top: 2rem;
}

.botaoCadastrar button {
  cursor: pointer;
  padding: 0.5rem;
  font-size: 20px;
  border-radius: 10px;
  height: 2.5rem;
  color: white;
  background-color: #371158;
  border-style: none;
}

.botaoCadastrar button:hover {
  background-color: #4f1681;
}

.spanNomeUsuario {
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'Lexend-Deca';
}

mat-expansion-panel {
  border: 2px solid #371158;
}

mat-panel-title {
  font-size: 20px;
  font-weight: 500;
}