<app-nav-bar></app-nav-bar>
<div class="container">
  <span class="spanNomeUsuario">Bem Vindo {{name}}</span>
  <div class="containerLista">
    <ul>
      <li *ngFor="let item of list">
        <div>
          <span>{{item.nome}}</span>
          <p>{{item.email}}</p>
        </div>
        <div class="containerBotoes">
          <button class="botaoEditar">Editar</button>
          <button class="botaoDeletar">Deletar</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="botaoCadastrar">
    <button>Cadastrar</button>
  </div>
</div>
