<app-nav-bar></app-nav-bar>
<div class="container">
  <h1 class="spanNomeUsuario">Bem Vindo {{ name }}</h1>
  <div class="containerLista">
    <ul>
      <mat-accordion>
        <li *ngFor="let contato of contatos, let i = index">
          <mat-expansion-panel (opened)="estadoPainel = true">
            <mat-expansion-panel-header>
              <mat-panel-title>{{ contato.nome }}</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="conteudo">
              <p>E-mail: {{ contato.email }}</p>
              <p>Telefone: {{contato.telefone}}</p>
              <p>Endereço:
                {{ contato.endereco.logradouro }} {{ contato.endereco.numero }},
                {{ contato.endereco.bairro }}, {{ contato.endereco.localidade }}
                {{ contato.endereco.uf }}
              </p>
            </div>

            <div class="containerBotoes">
              <button class="botaoEditar" (click)="navegarTelaEdiacao(contato.id)">Editar</button>
              <button class="botaoDeletar" (click)="deletarContato(contato.id, i)">Deletar</button>
            </div>
          </mat-expansion-panel>
        </li>
      </mat-accordion>
    </ul>
  </div>
  <div class="botaoCadastrar">
    <button (click)="navegarAteCadastro()">Cadastrar</button>
  </div>
</div>
