<div class="container">
  <span>Cadastrar novo usuário</span>
  <div class="divFormulario">
    <form
      (ngSubmit)="cadastrarFormularioUsuario()"
      [formGroup]="formularioCadastroUsuartio"
    >
      <div class="campoForm">
        <label for="nome">Nome: </label>
        <input
          type="text"
          name="nome"
          id="nome"
          placeholder="Exemplo Nome"
          formControlName="nome"
          [ngClass]="{
            'invalid-input':
              (formularioCadastroUsuartio.get('nome')?.invalid && formSubmited)
          }"
          autocomplete="off"
          required
        />
      </div>

      <div class="campoForm">
        <label for="senha">Senha: </label>
        <input
          type="password"
          name="senha"
          id="senha"
          placeholder="Senha"
          formControlName="senha"
          [ngClass]="{
            'invalid-input':
              (formularioCadastroUsuartio.get('senha')?.invalid && formSubmited)
          }"
          autocomplete="off"
          required
        />
      </div>

      <div class="campoForm">
        <label for="email">E-mail: </label>
        <input
          type="text"
          name="email"
          id="email"
          placeholder="exemplo@email.com"
          formControlName="email"
          [ngClass]="{
            'invalid-input':
              (formularioCadastroUsuartio.get('email')?.invalid && formSubmited)
          }"
          autocomplete="off"
          required
        />
      </div>

      <div class="campoForm">
        <label for="tel">Telefone: </label>
        <input
          type="text"
          name="tel"
          id="tel"
          placeholder="(xx) xxxxx-xxxx"
          maxlength="15"
          mask="(00) 00000-0000"
          formControlName="telefone"
          [ngClass]="{
            'invalid-input':
              (formularioCadastroUsuartio.get('telefone')?.invalid && formSubmited)
          }"
          autocomplete="off"
          required
        />
      </div>

      <div class="divEndereco">
        <div class="campoForm">
          <label>Endereço: </label>
          <input
            type="text"
            name="cep"
            id="cep"
            placeholder="CEP"
            mask="00000-000"
            formControlName="cep"
            (blur)="procurarEndereco()"
            maxlength="9"
            [ngClass]="{
              'invalid-input':
                (formularioCadastroUsuartio.get('cep')?.invalid && formSubmited)
            }"
            autocomplete="off"
            required
          />
        </div>
        <div class="divRuaBairro">
          <div class="campoForm">
            <input
              type="text"
              name="rua"
              id="rua"
              placeholder="Rua"
              formControlName="logradouro"
              [ngClass]="{
                'invalid-input':
                  (formularioCadastroUsuartio.get('logradouro')?.invalid && formSubmited)
              }"
              autocomplete="off"
              required
            />
          </div>
          <div id="divisoria"></div>
          <div class="campoForm">
            <input
              type="text"
              name="bairro"
              id="bairro"
              placeholder="Bairro"
              formControlName="bairro"
              [ngClass]="{
                'invalid-input':
                  (formularioCadastroUsuartio.get('bairro')?.invalid && formSubmited)
              }"
              autocomplete="off"
              required
            />
          </div>
        </div>
        <div class="divNumeroCidade">
          <div class="campoForm">
            <input
              type="text"
              name="numero"
              id="numero"
              placeholder="Número"
              formControlName="numero"
              maxlength="4"
              [ngClass]="{
                'invalid-input':
                  (formularioCadastroUsuartio.get('numero')?.invalid && formSubmited)
              }"
              autocomplete="off"
              required
            />
          </div>
          <div id="divisoria"></div>
          <div class="campoForm">
            <input
              type="text"
              name="cidade"
              id="cidade"
              placeholder="Cidade"
              formControlName="localidade"
              [ngClass]="{
                'invalid-input':
                  (formularioCadastroUsuartio.get('localidade')?.invalid && formSubmited)
              }"
              autocomplete="off"
              required
            />
          </div>
        </div>
        <div class="campoForm">
          <input
            type="text"
            name="uf"
            id="uf"
            placeholder="Estado"
            formControlName="uf"
            [ngClass]="{
              'invalid-input':
                (formularioCadastroUsuartio.get('uf')?.invalid && formSubmited)
            }"
            autocomplete="off"
            required
          />
        </div>
      </div>

      <div class="divBotao">
        <button type="button" (click)="navagarTelaLogin()" class="botaoCancelar">
          Cancelar
        </button>
        <button
          type="submit"
          class="botaoCadastrar"
        >
          Cadastrar
        </button>
      </div>
    </form>
  </div>
</div>
