<div class="container">
  <span>Cadastrar novo usuário</span>
  <div class="divFormulario">
    <form action="">
      <div class="campoForm">
        <label for="nome">Nome: </label>
        <input
          type="text"
          name="nome"
          id="nome"
          placeholder="Exemplo Nome"
          autocomplete="off"
          required
        />
      </div>

      <div class="campoForm">
        <label for="email">E-mail: </label>
        <input
          type="text"
          name="email"
          id="email"
          placeholder="exemplo@email.com"
          autocomplete="off"
          required
        />
      </div>

      <div class="campoForm">
        <label for="tel">Telefone: </label>
        <input
          type="text"
          name="tel"
          id="tel"
          placeholder="(xx) xxxxx-xxxx"
          autocomplete="off"
          required
        />
      </div>

      <div class="divEndereco">
        <div class="campoForm">
          <label>Endereço: </label>
          <input
            type="text"
            name="cep"
            id="cep"
            placeholder="CEP"
            [(ngModel)]="cep"
            (blur)="procurarEndereco()"
            maxlength="8"
            autocomplete="off"
            required
          />
        </div>
        <div class="divRuaBairro">
          <div class="campoForm">
            <input
              type="text"
              name="rua"
              id="rua"
              placeholder="Rua"
              [(ngModel)]="enderecoCompleto.logradouro"
              autocomplete="off"
              required
            />
          </div>
          <div class="campoForm">
            <input
              type="text"
              name="bairro"
              id="bairro"
              placeholder="Bairro"
              [(ngModel)]="enderecoCompleto.bairro"
              autocomplete="off"
              required
            />
          </div>
        </div>
        <div class="divNumeroCidade">
          <div class="campoForm">
            <input
              type="text"
              name="numero"
              id="numero"
              placeholder="Numero"
              autocomplete="off"
              required
            />
          </div>
          <div class="campoForm">
            <input
              type="text"
              name="cidade"
              id="cidade"
              placeholder="Cidade"
              [(ngModel)]="enderecoCompleto.cidade"
              autocomplete="off"
              required
            />
          </div>
        </div>
      </div>

      <div class="divBotao">
        <button (click)="navagarTelaLogin()" class="botaoCancelar">Cancelar</button>
        <button type="submit" class="botaoCadastrar">Cadastrar</button>
      </div>
    </form>
  </div>
</div>
