.cadastroContainer{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

#title{
    margin-top: 1rem;
    font-family: "Lexend-Deca";
    font-weight: normal;
    color: #181818;
}

.cadastroForm{
    margin-top: 1rem;
    width: 25rem;
    padding: 1.5rem;
    border: 2px solid #371158;
    border-radius: 15px;
}

.cadastroInputs{
    font-size: 17px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: 1px solid #371158;
    border-radius: 15px;
    outline: none;
    padding: 0.5rem;
}

label {
    margin-bottom: 0.5rem;
    color: #371158;
    font-size: 20px;
  }

.inputBox{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.btnCadastroDiv{
    width: 100%;
}

#cadastroBtn{
    cursor: pointer;
    font-size: 20px;
    margin-top: 1.5rem;
    width: 100%;
    height: 2.5rem;
    color: #FFFFFF;
    background-color: #371158;
    border: none;
    border-radius: 10px;
}

#cadastroBtn:hover{
    background-color: #4f1681;
}

.ruaEBairro{
    display: flex;
    justify-content: space-between;
}

.numeroECidade{
    display: flex;
    justify-content: space-between;
}

.divisoria{
    width: 2%;
}

.invalid-input {
    border: 2px solid #ff0000;
  }