<div class="loginContainer">
    <div class="">
        <div class="loginTxt">
            <h1 id="title">Login</h1>
            <p id="subtitle">Entre e comece a gerenciar seus contatos.</p>
        </div>
        <div>
            <form id="loginForm">
                <div class="inputBox">
                    <input type="email" id="email" class="loginInputs" name="email" placeholder="E-mail" required>
                </div>
                <div class="inputBox">
                    <input type="password" id="password" class="loginInputs" name="password" placeholder="Senha" required>
                </div>
                <a (click)="navegarAtePrincipal()">
                    <button id="loginBtn" type="submit">Login</button>
                </a>
            </form>
        </div>
    </div>
</div>