<div class="loginContainer">
    <div class="">
        <div class="loginTxt">
            <h1 id="title">Login</h1>
            <p id="subtitle">Entre e comece a gerenciar seus contatos.</p>
        </div>
        <div>
            <form id="loginForm">
                <input type="email" id="email" class="loginInputs" name="email" placeholder="E-mail" required>
                <input type="password" id="password" class="loginInputs" name="password" placeholder="Senha" required>


                <div class="botoesCadastrarLogar">
                    <button id="loginBtn" (click)="navegarAteCadastroUsuario()">Cadastrar-se</button>
                    <button id="loginBtn" type="submit" (click)="navegarAtePrincipal()">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
